body {
    background-color: #F6CAB9;
    height: 2000px;
}

#bio-content {
    display: flex;
    margin-top: 300px;
    margin-left: 250px;
    background-color: #F6CAB9;
}

#logo{
    margin-left: 30px;
}

p {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16pt;
    color: #50571B;
    padding-left: 10px;
    padding-right: 250px;


}